<!-- Don't want to see CSS in views!!!!!!!!!!! -->
<% content_for :navbar do %>
<%= render 'shared/navbar', white: true %>
<% end %>

<div class="first-container">
<div class="hero-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1513694203232-719a280e022f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80);">
  <div class="hero text-center w-100">
    <div class="hero-text">
      <div class="hero-h1">
        <h1>FOXAPARTMENTS</h1>
      </div>
      <div class="hero-p">
        Korterid ja parkimiskohad kesklinnas, korterid töötavatele inimestele
      </div>
      <div class="hero-btn">
        Vaata kortereid
      </div>
    </div>
  </div>
</div>
</div>

<div class="steps-container" >
  <div class="step-text-container">

    <div class="step-info-container" id="step-info">
      <h3 class="h3-category">Korterid Sikupilli rajoonis</h3>
      <p class="p-darkgray">
      Subruban Farm helps cut your carbon foot print and create a self-sustainable community. We connect busy suburban growers to people in the city.Happy growers, happy organics shoppers, less food wasted  </p>
      <div class="step-arrow-container">
        <div id="arrow-link"><img src="https://onomeals.zeusjones.com/images/svgs/arrow-right-black.svg" alt=""></div>
        <a href="products/new" class="btn-small-cta link-black"><font>POST PRODUCE</font></a>
      </div>
    </div>

  </div>
  <div class="steps-image-container">

  </div>
</div>









