.hero-container {
  position: absolute;
  top: 0vh;
  height: 80vh;
  width: 100vw;
}

.hero-container h1 {
  text-shadow: 1px 2px $light-gray;
  color: $white;
  font-size: 67px;
  opacity: 0;
  transition: opacity 3s ease 1s;
}
.search-hero {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  flex-wrap: nowrap;
  width: 40%;
  margin: 0 auto;
  #search_query {
    width: 100%;

  }
}
.btn-hero {
  padding: 0px 28px;
  display: flex;
  color: white;
  margin-left: -10px;
  z-index: 50;
  background-color: $primary !important;
  align-items: center;
  border-radius: $border-radius;
  justify-content: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}
.header {
  position: absolute;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
